{% extends '_base.html' %}

{% block all %}


        <p>
Welcome to the Wedding page of Tyler and Honza!
We are glad that you are planning to spend with us our special day.
The wedding will take place in Prague, Czech republic.
Please take a moment anc check all useful information about Prague - Accomodation, Transportation, Things to Do ...
We hope that you will take the opportunity of coming to our wedding as chance to enjoy a nice Prague city break!
There is much more to see in the Czech republic, so please don´t hesitate to contact us to learn more about what to do during your stay in the great country.

We look forward to seeing you in June!
</p>

{% endblock %}
